body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#toupiao b {
    display: inline-block;
    width: 326px;
    height: 499px;
    vertical-align: top;
    margin: 10px;
    position: relative;
    border: solid 1px #eee;
    border-radius: 5px;
    padding: 12px;
}

#toupiao b.runing {
    border-color: deeppink;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    border-style: dashed;
}

h1 {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    margin: 0;
    padding: 0;
}

#toupiao b img {
}

#toupiao span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: .8;
    cursor: pointer;
}

#toupiao .J-info {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

#toupiao .J-runing {
    position: absolute;
    left: 0;
    top: 0;
}

body.show #toupiao .J-info {
    display: block;
}